                                    /* Common Styles */
                                    
                                    body {}
                                    
                                    a {
                                        text-decoration: none;
                                    }
                                    /*Header Styles */
                                    
                                    #headerContainer {
                                        background-color: white;
                                        padding: 15px 20px 0px 40px;
                                        height: 100px;
                                        display: inline-block;
                                    }
                                    
                                    #headerLogo {
                                        display: inline-block;
                                    }
                                    
                                    #headerMenu {
                                        display: inline-block;
                                        padding: 0 0 0 50px;
                                        margin-top: -10;
                                    }
                                    
                                    #headerMenu ul li {
                                        display: inline-block;
                                        padding: 35px;
                                        font-weight: bold;
                                        font-size: 110%;
                                    }
                                    
                                    #headerContact {
                                        display: inline-block;
                                        margin-left: 30px;
                                    }
                                    
                                    #contactAnhor {
                                        padding: 20px 50px;
                                        color: white;
                                        text-align: center;
                                        background-color: blue;
                                    }
                                    /*Page 1  Styles*/
                                    
                                    #page1Container {
                                        background-image: url("/picSource/im3.jpg");
                                        background-size: cover;
                                        padding-bottom: 175px;
                                        padding-left: 150px;
                                    }
                                    
                                    #page1Line1 {
                                        padding: 0px;
                                        display: inline-block;
                                    }
                                    
                                    #page1Line1 h5 {
                                        display: inline-block;
                                        color: rgb(82, 185, 226);
                                        font-size: 15px;
                                    }
                                    
                                    #page1Line2 {
                                        font-size: 55px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
                                    }
                                    
                                    #page1Line2and3 {
                                        padding-left: 29px;
                                    }
                                    
                                    #page1Paragraph1 {
                                        line-height: 1.5;
                                    }
                                    
                                    #page1Line2and3 a {
                                        padding: 20px 40px;
                                        color: white;
                                        text-align: center;
                                        background-color: #070744;
                                    }
                                    /*Page 2  Styles*/
                                    
                                    #page2Container {
                                        padding-left: 150px;
                                    }
                                    
                                    #page2Line1 h5 {
                                        display: inline-block;
                                        color: rgb(82, 185, 226);
                                        font-size: 16px;
                                        margin-bottom: 0px;
                                        letter-spacing: 0.6;
                                    }
                                    
                                    #page2Line2 h2 {
                                        font-size: 29px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        letter-spacing: 1.6;
                                        line-height: 1.2;
                                    }
                                    
                                    #pageMainDivs {
                                        display: inline-block;
                                        margin-top: -50px;
                                    }
                                    
                                    #page2LeftDiv,
                                    #page2MidDiv,
                                    #page2RightDiv {
                                        display: inline-block;
                                        margin: 100px 30px 30px 10px;
                                        border-style: groove;
                                        border-width: 1px;
                                        border-color: rgb(161 148 148 / 16%);
                                        padding: 60 50 35 35;
                                    }
                                    
                                    #page2LeftDiv img,
                                    #page2MidDiv img,
                                    #page2RightDiv img {
                                        width: 34;
                                        height: 36;
                                    }
                                    
                                    #page2LeftDiv p,
                                    #page2MidDiv p,
                                    #page2RightDiv p {
                                        font-size: 14px;
                                        color: rgb(43 51 60 / 75%);
                                        line-height: 1.5;
                                        letter-spacing: 0.5px;
                                        font-family: "Roboto", sans-serif;
                                    }
                                    
                                    #page2LeftDiv h4,
                                    #page2MidDiv h4,
                                    #page2RightDiv h4 {
                                        font-weight: bolder;
                                        font-family: sans-serif;
                                    }
                                    /*Page  3  Styles*/
                                    
                                    #page3Container {
                                        background-color: rgb(99, 99, 238);
                                    }
                                    
                                    #page3Image {
                                        width: 50%;
                                        display: inline-block;
                                    }
                                    
                                    #page3Image img {
                                        width: 100%;
                                        display: inline-block;
                                    }
                                    
                                    #page3RightHalf {
                                        display: inline-block;
                                        width: 49%;
                                        float: right;
                                        margin: 40px -60px 0px 0px;
                                    }
                                    
                                    #page3RightHalf h5 {
                                        display: inline-block;
                                        color: white;
                                        font-size: 15px;
                                        margin-bottom: 0px;
                                        letter-spacing: 1.75px;
                                    }
                                    
                                    #page3RightHalf h2 {
                                        font-size: 30px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        color: white;
                                        letter-spacing: 3px;
                                    }
                                    
                                    #page3RightHalf p {
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        color: white;
                                    }
                                    
                                    #page3RightHalf a {
                                        padding: 20px 40px;
                                        color: white;
                                        text-align: center;
                                        background-color: #070744;
                                    }
                                    
                                    #paragraph1 {
                                        font-weight: bold;
                                        margin-top: 60px;
                                        line-height: 1.5;
                                        letter-spacing: 0.2px;
                                    }
                                    
                                    #paragraph2 {
                                        margin-top: 45px;
                                        margin-bottom: 62px;
                                        font-size: small;
                                        line-height: 2;
                                        letter-spacing: 0.4px;
                                    }
                                    /*Page  4  Styles*/
                                    
                                    #page4Container {
                                        background-color: rgb(153 144 132 / 27%);
                                    }
                                    
                                    #page4Form {
                                        background-color: rgb(99, 99, 238);
                                        margin-left: 300px;
                                        margin-top: 50px;
                                        margin-bottom: 50px;
                                        margin-right: 330px;
                                        border-right-width: 100px;
                                        padding-top: 50px;
                                        padding-left: 125px;
                                    }
                                    
                                    #page4Form h5 {
                                        color: white;
                                        font-size: 15px;
                                        margin-bottom: 0px;
                                        letter-spacing: 1.75px;
                                    }
                                    
                                    #page4Form h2 {
                                        font-size: 30px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        color: white;
                                        letter-spacing: 3.2px;
                                        padding-top: 10px;
                                    }
                                    
                                    #form1InPage4 {
                                        margin-top: 65px;
                                    }
                                    
                                    #nameText {
                                        padding-top: 15px;
                                        padding-left: 25px;
                                        padding-bottom: 15px;
                                        padding-right: 10px;
                                        margin-right: 20px;
                                        margin-bottom: 20px;
                                    }
                                    
                                    #phoneText {
                                        padding-top: 15px;
                                        padding-left: 25px;
                                        padding-right: 10px;
                                        padding-bottom: 15px;
                                    }
                                    
                                    #lawType {
                                        padding-top: 15px;
                                        padding-bottom: 15px;
                                        padding-left: 24px;
                                        padding-right: 7px;
                                        width: 208px;
                                        margin-right: 20px;
                                        margin-bottom: 20px;
                                    }
                                    
                                    #emailText {
                                        padding-top: 15px;
                                        padding-left: 25px;
                                        padding-bottom: 15px;
                                        padding-right: 10px;
                                    }
                                    
                                    #messageArea {
                                        padding-left: 52px;
                                        padding-top: 35px;
                                        padding-right: 223px;
                                        padding-bottom: 53px;
                                    }
                                    
                                    #submitButton {
                                        margin-top: 25px;
                                        margin-bottom: 80px;
                                        padding-left: 176px;
                                        padding-right: 190px;
                                        padding-top: 13px;
                                        padding-bottom: 13px;
                                        background-color: #070744;
                                        color: aliceblue;
                                    }
                                    /*Page  5  Styles*/
                                    
                                    #page5Container {
                                        padding-left: 130px;
                                    }
                                    
                                    #page5Container h5 {
                                        color: rgb(82, 185, 226);
                                        margin-bottom: 0px;
                                        margin-top: 17.72;
                                        font-size: 16px;
                                        letter-spacing: 0.6;
                                    }
                                    
                                    #page5Container h2 {
                                        display: inline-block;
                                        margin-top: 16.07;
                                        margin-bottom: 32.07;
                                        font-size: 29px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        letter-spacing: 1.6;
                                        line-height: 1.2;
                                    }
                                    
                                    #page5Container ul {
                                        float: right;
                                        margin-top: 60px;
                                        margin-left: 0px;
                                        margin-bottom: 0px;
                                        margin-right: 80px;
                                    }
                                    
                                    #page5Container ul li {
                                        display: inline-block;
                                        margin-right: 15px;
                                        font-size: smaller;
                                    }
                                    
                                    #page5Container ul li a {
                                        color: #6e685ffa;
                                    }
                                    
                                    #page5AllPic {
                                        display: inline-block;
                                    }
                                    
                                    #Pic1 {
                                        display: inline-block;
                                        background-image: url("/picSource/im4.png");
                                        width: 555px;
                                        height: 393px;
                                        margin-right: 20;
                                        margin-bottom: 70px;
                                    }
                                    
                                    #Pic2 {
                                        display: inline-block;
                                        background-image: url("/picSource/im5.png");
                                        width: 555px;
                                        height: 393px;
                                        float: right;
                                        margin-right: 73px;
                                    }
                                    
                                    #Pic3 {
                                        display: inline-block;
                                        background-image: url("/picSource/im6.png");
                                        width: 555px;
                                        height: 393px;
                                        margin-right: 20;
                                        margin-bottom: 70px;
                                        float: left;
                                    }
                                    
                                    #Pic4 {
                                        display: inline-block;
                                        background-image: url("/picSource/im7.png");
                                        width: 555px;
                                        height: 393px;
                                        float: left;
                                    }
                                    
                                    #divInPic1,
                                    #divInPic2,
                                    #divInPic3,
                                    #divInPic4 {
                                        background-color: aliceblue;
                                        display: inline-block;
                                        margin-top: 329px;
                                        padding-left: 22px;
                                        padding-right: 156px;
                                    }
                                    
                                    #divInPic1 h6,
                                    #divInPic2 h6,
                                    #divInPic3 h6,
                                    #divInPic4 h6 {
                                        color: rgb(82, 185, 226);
                                        margin-bottom: 20.978;
                                        font-size: 11px
                                    }
                                    
                                    #divInPic1 h4,
                                    #divInPic2 h4,
                                    #divInPic3 h4,
                                    #divInPic4 h4 {
                                        line-height: 1.2;
                                    }
                                    /*Page  6  Styles*/
                                    
                                    #page6Container {
                                        padding: 50;
                                    }
                                    
                                    #page6UpperDiv {
                                        background-color: rgb(99, 99, 238);
                                        color: aliceblue;
                                        padding-top: 37px;
                                        padding-left: 70px;
                                        padding-bottom: 37px;
                                    }
                                    
                                    #page6UpperDiv h1 {
                                        display: inline-block;
                                        font-size: 36px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        line-height: 1.6;
                                        letter-spacing: 2;
                                    }
                                    
                                    #page6UpperDiv a {
                                        display: inline-block;
                                        margin-right: 70px;
                                        margin-top: 56px;
                                        padding-left: 45px;
                                        padding-right: 45px;
                                        padding-top: 17px;
                                        padding-bottom: 17px;
                                        color: white;
                                        text-align: center;
                                        background-color: #070744;
                                        float: right;
                                    }
                                    
                                    #page6MidDiv {
                                        margin-top: 150px;
                                        margin-left: 76px;
                                    }
                                    
                                    #page6MidDiv h5 {
                                        color: rgb(82, 185, 226);
                                        margin-bottom: 45px;
                                        margin-top: 17.72;
                                        font-size: 16px;
                                        letter-spacing: 0.6;
                                    }
                                    
                                    #page6MidDiv h2 {
                                        margin-top: 16.07;
                                        margin-bottom: 65.07;
                                        font-size: 30px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                        line-height: 1.2;
                                        letter-spacing: 1.8;
                                    }
                                    
                                    #page6LowerDiv {
                                        margin-left: 75;
                                    }
                                    
                                    #page6Img1 {
                                        display: inline-block;
                                        margin-right: 40px;
                                        background-color: aliceblue;
                                    }
                                    
                                    #page6Img2 {
                                        display: inline-block;
                                        margin-right: 40px;
                                        background-color: aliceblue;
                                    }
                                    
                                    #page6Img3 {
                                        display: inline-block;
                                        background-color: aliceblue;
                                    }
                                    
                                    #page6Img1 img,
                                    #page6Img2 img,
                                    #page6Img3 img {
                                        max-height: 350;
                                    }
                                    
                                    #page6Img1 h3,
                                    #page6Img2 h3,
                                    #page6Img3 h3 {
                                        padding-left: 43px;
                                        margin-top: 16.72;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                    }
                                    
                                    #page6Img1 h6,
                                    #page6Img2 h6,
                                    #page6Img3 h6 {
                                        color: rgb(82, 185, 226);
                                        margin-left: 43px;
                                        margin-top: 0px;
                                        margin-bottom: 25px;
                                        font-size: 10px;
                                    }
                                    /*Page  7  Styles*/
                                    
                                    #page7Container {
                                        background-image: url("/picSource/im11.png");
                                        background-size: cover;
                                    }
                                    
                                    #page7Paragraph {
                                        display: inline-block;
                                        ;
                                        margin-top: 0px;
                                        padding-top: 30px;
                                        padding-bottom: 100px;
                                        padding-left: 80px;
                                        font-size: 14;
                                        font-family: Georgia, 'Times New Roman', Times, serif;
                                    }
                                    
                                    #page7Paragraph h1 {
                                        font-size: 100;
                                        margin-bottom: 0px;
                                        padding-left: 504px;
                                        margin-top: 100px;
                                        color: white;
                                    }
                                    
                                    #page7Paragraph pre {
                                        margin-top: 0px;
                                        margin-right: 50px;
                                        line-height: 1.5;
                                        color: rgb(171, 175, 179);
                                    }
                                    
                                    .Page7Arrow {
                                        display: inline-block;
                                        border-width: 2;
                                        border-style: solid;
                                        border-color: #95957530;
                                        border-radius: 5px;
                                        padding-left: 15px;
                                        padding-top: 12px;
                                        padding-right: 15px;
                                        padding-bottom: 12px;
                                        font-size: 17;
                                        font-weight: bolder;
                                        color: #95957530
                                    }
                                    
                                    #Page7LeftArrow {
                                        margin-top: 245px;
                                        margin-left: 39px;
                                    }
                                    
                                    #Page7RightArrow {
                                        margin-left: 1080px;
                                        margin-top: -65;
                                        margin-bottom: 0px;
                                    }
                                    
                                    #Page7LowerDiv {
                                        margin-top: 0px;
                                        padding-left: 580px;
                                        margin-top: -55;
                                        margin-bottom: 160px;
                                        display: inline-block;
                                    }
                                    
                                    #Page7LowerDiv img {
                                        display: inline-block;
                                    }
                                    
                                    #LowerDivh3h5 {
                                        margin-left: 20px;
                                        margin-top: 0px;
                                        margin-bottom: 29px;
                                        display: inline-block;
                                        float: right;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                    }
                                    
                                    #Page7LowerDiv h2 {
                                        margin-top: 5.75;
                                        margin-bottom: 12px;
                                        color: aliceblue;
                                        font-size: 25px;
                                    }
                                    
                                    #Page7LowerDiv h6 {
                                        margin-top: 0px;
                                        font-size: small;
                                        color: #b1b1a5a1;
                                    }
                                    /*Page  8  Styles*/
                                    
                                    #page8Container {
                                        padding: 100px;
                                    }
                                    
                                    #page8Container h5 {
                                        color: rgb(82, 185, 226);
                                        margin-top: 0px;
                                        margin-bottom: 30px;
                                        font-size: 15px;
                                        letter-spacing: 0.4;
                                    }
                                    
                                    #page8Container h2 {
                                        margin-top: 0px;
                                        margin-bottom: 80px;
                                        font-family: cursive;
                                        letter-spacing: 1.2;
                                        line-height: 1.3;
                                        font-weight: bolder;
                                    }
                                    
                                    #page8LeftDiv {
                                        display: inline-block;
                                    }
                                    
                                    #page8divInPic1 {
                                        display: inline-block;
                                        background-image: url('/picSource/im1.png');
                                        width: 555;
                                        height: 421;
                                        background-size: 500px 400px;
                                        background-repeat: no-repeat;
                                    }
                                    
                                    #page8divInPic1 h6 {
                                        display: inline-block;
                                        color: #20201d7d;
                                        background-color: white;
                                        padding-top: 18px;
                                        padding-bottom: 25px;
                                        padding-left: 70px;
                                        margin-bottom: 0px;
                                        margin-top: 346.978;
                                        padding-right: 150px;
                                    }
                                    
                                    #page8divUnderPic1 {
                                        background-color: aliceblue;
                                        padding-left: 70px;
                                        margin-top: -40;
                                        width: 431px;
                                    }
                                    
                                    #page8divUnderPic1 h3 {
                                        padding-top: 26px;
                                        margin-bottom: 18px;
                                        font-family: "Josefin Sans", sans-serif;
                                        font-size: 21;
                                        font-weight: bolder;
                                        letter-spacing: 1.7;
                                        line-height: 1.2;
                                    }
                                    
                                    #page8divUnderPic1 h5 {
                                        line-height: 1.5;
                                        color: #20201d7d;
                                        font-size: 12px;
                                        font-family: "Roboto", sans-serif;
                                    }
                                    
                                    #page8divUnderPic1 h6 {
                                        font-family: "Josefin Sans", sans-serif;
                                        color: rgb(82, 185, 226);
                                        font-size: 12;
                                    }
                                    
                                    #page8divUnderPic2 h3 {
                                        font-family: "Josefin Sans", sans-serif;
                                        padding-top: 26px;
                                        margin-bottom: 18px;
                                        font-size: 21;
                                        font-weight: bolder;
                                        letter-spacing: 1.7;
                                        line-height: 1.2;
                                    }
                                    
                                    #page8divUnderPic2 h5 {
                                        line-height: 1.5;
                                        color: #20201d7d;
                                        font-size: 12px;
                                        font-family: "Roboto", sans-serif;
                                    }
                                    
                                    #page8divUnderPic2 h6 {
                                        font-family: "Josefin Sans", sans-serif;
                                        font-size: 12;
                                        color: rgb(82, 185, 226);
                                    }
                                    
                                    #page8RightDiv {
                                        display: inline-block;
                                    }
                                    
                                    #page8divInPic2 {
                                        display: inline-block;
                                        background-image: url('/picSource/im13.png');
                                        width: 555;
                                        height: 421;
                                        background-size: 500px 400px;
                                        background-repeat: no-repeat;
                                    }
                                    
                                    #page8divInPic2 h6 {
                                        display: inline-block;
                                        color: #20201d7d;
                                        background-color: white;
                                        padding-top: 18px;
                                        padding-bottom: 25px;
                                        padding-left: 70px;
                                        margin-bottom: 0px;
                                        margin-top: 346.978;
                                        padding-right: 150px;
                                    }
                                    
                                    #page8divUnderPic2 {
                                        background-color: aliceblue;
                                        padding-left: 70px;
                                        margin-top: -40;
                                        width: 431px;
                                    }
                                    /*Footer Styles*/
                                    
                                    #footerContainer {
                                        background-image: url(/picSource/im14.jpg);
                                        background-size: cover;
                                        width: 100%;
                                        padding-left: 90px;
                                        padding-top: 100px;
                                    }
                                    
                                    #headerLogoo {
                                        margin-bottom: 25px;
                                    }
                                    
                                    #leftDivFooter {
                                        margin-top: -15;
                                        display: inline-block;
                                        color: #ffffff99;
                                        line-height: 1.5;
                                        font-size: 16;
                                        font-weight: bold;
                                    }
                                    
                                    #leftDivFooter h2 {
                                        color: #1f5b91;
                                        margin-top: 30.92;
                                        margin-bottom: 25.92;
                                    }
                                    
                                    #midDivFooter {
                                        display: inline-block;
                                        float: right;
                                        color: #ffffff99;
                                        margin-right: 634px;
                                        margin-left: 130px;
                                        margin-top: 10px;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                    }
                                    
                                    #midDiv2Footer {
                                        margin-top: 10px;
                                        display: inline-block;
                                        float: right;
                                        color: #ffffff99;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                    }
                                    
                                    #midDivFooter ul,
                                    #midDiv2Footer ul {
                                        padding-left: 0;
                                        margin-top: 25px;
                                    }
                                    
                                    #midDivFooter ul li,
                                    #midDiv2Footer ul li {
                                        padding-top: 14;
                                    }
                                    
                                    #midDivFooter ul li a,
                                    #midDiv2Footer ul li a {
                                        color: #ffffff99;
                                    }
                                    
                                    #rightDivFooter {
                                        float: right;
                                        display: inline-block;
                                        margin-right: 180px;
                                        margin-top: -245;
                                        color: #ffffff99;
                                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                    }
                                    
                                    #rightDivFooter h4 {
                                        margin-top: 50px;
                                        margin-bottom: 35px;
                                        font-size: 15;
                                    }
                                    
                                    #footerTextbox {
                                        background-color: #0b121a;
                                        border: none;
                                        padding-left: 15px;
                                        padding-top: 13px;
                                        padding-bottom: 13px;
                                        padding-right: 80px;
                                    }
                                    
                                    #footerEmailAddress {
                                        border: none;
                                        padding-top: 13px;
                                        padding-bottom: 13px;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        color: #0000ff85;
                                        background-color: #0b121a;
                                    }
                                    
                                    #footerLowerDiv hr {
                                        border-top: 2px solid #202934;
                                        border-left: none;
                                        border-bottom: none;
                                        border-right: none;
                                        margin-top: 150px;
                                        margin-bottom: 20px;
                                    }
                                    
                                    #footerLowerDiv h4 {
                                        color: #ffffff47;
                                        font-size: 15;
                                    }